.card {
  width: fit-content;
  padding: 1em;
  margin: 1em;
  color: whitesmoke;
  border: 2px rgba(245, 245, 245, 0.611) solid;
  border-radius: 10px;
  background: #4343430a;
  backdrop-filter: blur(7px);
  box-shadow: 11px 11px 19px #573784,
    -11px -11px 19px #384396;
}