.navLink {
  margin-left: 10px;
  font-weight: 400;
  color: #00b5cc;
  -webkit-text-stroke: .5px #00BD32;
  font-size: 3rem;
  text-decoration: none;
}

.navLinkA {
  text-decoration: none;
}

/* .navLink:hover {} */