@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&family=Zen+Dots&display=swap');

* {
  color: white;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: 'Zen Dots', cursive; */
  font-family: 'Londrina Solid', cursive;
}

body {
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./images/bg9.jpg');
  background-size: cover;
  background-attachment: fixed;
  scroll-behavior: smooth;
  min-height: 100vh;
}


/* 
colores:

_SearchBar
  celeste: #a8d5ff
  fucsia:  #4d0080

_Card
  rosado:  #b95cd7

*/